.footer {
    background-color: $color-bg-footer;
    padding-top: 42px;
    padding-bottom: 41px;

    &__top {
        margin-bottom: 33px;
        display: flex;
        flex-direction: row;
    }

    h2 {
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
        margin-bottom: 0;
    }

    &__form {
        margin-right: 160px;

        &-block {
            display: flex;
            justify-content: space-between;
            width: 294px;
        }

        h2 {
            margin-bottom: 30px;
            max-width: 250px;
        } 
    }

    &__email {
        width: 185px;
        height: 33px;
        padding: 8px 12px;
        border: none;
        background-color: $color-white;

        &::placeholder {
            font-size: 14px;
            line-height: 17px;
            color: #a5a5a5;
        }
    }

    &__submit {
        width: 109px;
        height: 33px;
        border: none;
        background-color: $color-orange;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        font-weight: 600;
        color: $color-white;
        cursor: pointer;
        transition: all .5s;

        &:hover {
            opacity: 0.75;
            transition: all .5s;
        }
    }

    &__info {
        margin-right: 53px;
    }

    &__list {
        font-size: 14px;
        line-height: 22px;

        &_shop {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: space-between;
            max-height: 90px;
        }
    }

    &__internet-shop {
        flex-grow: 1;
    }

    &__item {
        max-width: 160px;

        a {
            transition: all .5s;
        }

        &:hover a {
            color: #a5a5a5;
            transition: all .5s;
        }
    }

    &__service {
        margin-right: 56px;
    }

    &__copyright {
        font-size: 12px;
        line-height: 14px;
        color: #a5a5a5;
        letter-spacing: 1.01px;
    }
}