$color-bg-footer: #f4f4f6;
$color-main-dark: #48494d;
$color-black: #000;
$color-orange: #ff7931;
$color-light-gray: #c4c4c4;
$color-dark-gray: #656464;
$color-bg-gray: #f0f0f4;
$color-more-button: #bdbec2;
$color-footer-gray: #a5a5a5;
$color-white: #fff; 